#container
{
	padding : 10px;
}

.value-drawer-container
{
	display : flex;
	margin-top : 1px;
	margin-bottom : 1px;
	flex-grow : 1;
	-unity-text-align: middle-left;
}

.member-label
{
	flex-grow : 1;
	-unity-text-align: middle-left;
}