#container
{
	padding : 10px;
}

.value-drawer-container
{
	display : flex;
	margin-top : 1px;
	margin-bottom : 1px;
	flex-grow : 1;
}

.value-label {
	flex-grow: 1;
	margin-right: 5px;
	-unity-text-align: upper-left;
}