.frame {
    justify-content: center;
}

.header-empty {
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-color: darkgrey;
}

.preview-message {
    position: absolute;
    align-self : center;
    font-size: 20px;
}
